[Unit]
Description=OpenHA - EASY high-availability software
Documentation=http://docs.opensvc.com/howto.ha.html http://open-ha-cluster.sourceforge.net
After=network.target network-online.target time-sync.target

[Service]
Type=idle
Environment="PATH=/etc/opensvc:/usr/lib/openha/bin:/usr/bin:/usr/sbin:/bin:/sbin"
ExecStart=/usr/share/openha/init/openha.init start
ExecStop=/usr/share/openha/init/openha.init stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
