[Unit]
Description=OpenHA - EASY high-availability software
Documentation=http://docs.opensvc.com/howto.ha.html http://open-ha-cluster.sourceforge.net
After=network.target network-online.target time-sync.target

[Service]
Type=idle
Environment="PATH=/usr/local/cluster:/usr/local/cluster/bin:/opt/opensvc/bin:/opt/opensvc/etc:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/local/cluster/openha.init start
ExecStop=/usr/local/cluster/openha.init stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
